<h1>Sign In</h1>

<%= form_tag("/login", method: "post") do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <p>Email:</p>
  <%= email_field_tag :email %>
  <br/>
  <p>Password:</p>
  <%= password_field_tag :password %>
  <br/>
  <br/>
  <%= submit_tag "Sign In" %>
<% end %>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>
