<h1>Create an Account</h1>

<%= form_for @user do |f| %>
  <%= f.label :name %><br/>
  <%= f.text_field :name %><br/>
  <br/>
  <%= f.label :email %><br/>
  <%= f.email_field :email %><br/>
  <br/>
  <%= f.label :description %><br/>
  <%= f.text_area :description %><br/>
  <br/>
  <%= f.label :password %><br/>
  <%= f.password_field :password %><br/>
  <br/>
  <br/>
<h2>Select Existing Band</h2>
  <%= f.collection_check_boxes :band_ids, Band.all, :id, :name %>
  <br/>
<h2>Create a New Band</h2>
  <%= f.fields_for :bands, @user.bands.build do |band| %>
    <%= band.label :name %><br/>
    <%= band.text_field :name %><br/>
    <%= band.label :email %><br/>
    <%= band.text_field :email %><br/>
    <%= band.label :description %><br/>
    <%= band.text_area :description %><br/>
    <%= band.label :genre_id %><br/>
    <%= band.collection_select :genre_id, Genre.all, :id, :name, prompt: true %>
  <% end %>
    <br/>
  <h2>Select Existing Venue</h2>
    <%= f.collection_check_boxes :venue_ids, Venue.all, :id, :name %>
  <h2>Create a New Venue</h2>
  <%= f.fields_for :venues, @user.venues.build do |venue| %>
    <%= venue.label :name %><br/>
    <%= venue.text_field :name %><br/>
    <%= venue.label :email %><br/>
    <%= venue.text_field :email %><br/>
    <%= venue.label :description %><br/>
    <%= venue.text_area :description %><br/>
  <% end %>
  <%= f.submit "Create Account" %>
<% end %>





<!---  f.collection_select :band_id, Band.all, :id, :name <br/> -->
