<h1>Create an Account</h1>

<!---Basic Sign Up Form-->

<%= form_for @user do |f| %>
  <%= f.label :name %><br/>
  <%= f.text_field :name %><br/>
  <br/>
  <%= f.label :email %><br/>
  <%= f.email_field :email %><br/>
  <br/>
  <%= f.label :description %><br/>
  <%= f.text_area :description %><br/>
  <br/>
  <%= f.label :password %><br/>
  <%= f.password_field :password %><br/>
  <br/>
  <br/>
  <%= f.label :type, 'Account Type' %><br/>
  <%= f.select :type, options_for_select([
    ["Band Member", "band_member"],
    ["Venue Manager", "venue_manager"],
    ["Concert Goer", "concert_goer"]]) %>
  <br/>
  <br/>
  <%= f.submit "Create Account" %>
<% end %>

<!---May Remove All of This and Let the user do it once logged in-->

<!---Band Creation or Selection-->
