<h1><%= @user.name %></h1>
<h2>Contact</h2>
<%= @user.email %><br/>

<% if @user.bands %>
  <h2>Bands</h2>
  <%= @user.bands.each do |band| %>
    <li><%= link_to band.name, "/bands/#{band.id}" %></li>
  <% end %>
<% elsif !@user.bands %>
  <h2>Venue Manager @...</h2>
  <%= link_to @user.venues.first.name, "/venues/#{@user.venues.first.id}" %>
<% else %>
  <% if @user.id == current_user.id %>
    <p>You do not belong to any bands or manage any venues.</p>
    <%= link_to "I'm in a band!", "/bands/new" %><br/>
    <%= link_to 'I manage a venue', "/venues/new" %>
  <% else %>
    <p>This user does not belong to any bands or manage any venues.</p>
  <% end %>
<% end %>
<br/>
<br/>

<% if @user.id == current_user.id %>
  <%= link_to 'Edit Account', "/users/#{@user.id}/edit" %><br/>
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'For real?' } %>
<% end %>
