<div class="col">
  <h1 class="text-center">All Venues</h1>
</div>

<div class="index-data">
<div class="band-create-link">
  <% if can? :create, @venue %>
    <h4><%= link_to 'Create a New Venue', "/venues/new" %></h4>
    <% end %>
</div>

</div>

<hr class="black-line"/>

<div class="all-bands">
<% @venues.each do |venue| %>
  <div class="bands">
    <img src=<%= venue.image_link %> alt="venue-image" class="band-image"/>
    <h2> <%= venue.name %></h2>
    <p class="card-text"> <%= venue.description %></p>
    <a href="/venues/<%="#{venue.id}"%>" class="">Learn More</a>
  </div>
<% end %>
</div>
