<h1><%=@band.name%></h1>

<p><%=@band.description%></p>

<h2>Band Members</h2>

<% @band.users.each do |user|%>
  <li><%= link_to "#{user.name}", "/users/#{user.id}" %></li>
<% end %>
<br/>

<% if can? :update, @band %><%= link_to 'Edit Band', edit_band_path(@band) %><% end %>
<br/>
<% if can? :destroy, @band %><%= link_to 'Delete', @band, method: 'delete' %><% end %>
