<div class="account-page text-center">
<div class="user-about">
  <h1><%= @band.name %></h1>
  <h5><em><%= @band.genre.name %></em></h5>
  <img src=<%= @band.image_link %> alt="band-image" class="profile-image"/>
  <hr class="line"/>
  <br/>
  <p><em><%= @band.description %></em></p>
  <h5><%=mail_to(@band.email)%></h5>
</div>


  <div class="upcoming">
    <h2>Upcoming Gigs</h2>
    <% if !@band.gigs.empty? %>
      <% @band.gigs.each do |gig| %>
        <h5><li><%= link_to gig.name, band_gig_url(gig) %></li></h5>
        <% end %>
    <% else %>
      <h5>This band has no upcoming shows</h5>
    <% end %>
  </div>

  <div class="band-members">
    <h2>Band Members</h2>
  <% @band.users.each do |user| %>
    <div class="band-members-single">
      <img src=<%= user.image %> alt="band-image" class="band-image"/>
      <h2> <%= user.name %></h2>
      <p class="card-text"> <%= user.description %></p>
      <a href="/user/<%="#{user.id}"%>" class="">User Profile</a>
    </div>
  <% end %>
  </div>
  </div>



<div class="text-center">
  <% if can? :update, @band %>
    <%= button_to 'Edit Band', edit_band_path(@band) %>
  <% end %>
  <br/>
  <% if can? :destroy, @band %>
    <%= button_to 'Delete', @user, method: :delete, data: { confirm: 'For real?' }  %>
  <% end %>
</div>
