<h1>All Shows!</h1>

<% if can? :create, @gig %>
  <h4><%= link_to 'Add New Gig', "/gigs/new" %> </h4>
<% end %>

<% @gigs.each do |gig| %>
  <li><%= link_to gig.name, gig_path(gig) %></li><br/>
<% end %>

<%= month_calendar events: @gigs do |date, gigs| %>
  <%= date.day %>
  <% gigs.each do |gig| %>
      <%= link_to gig.name, gig_path(gig) %><br/>
      <%= gig.date.strftime("%l:%M %p") %>
  <% end %>
<% end %>
