
<h1>All Shows!</h1>
<h4><%= link_to 'Add New Gig', "/gigs/new" %> </h4>

<% @gigs.each do |gig| %>
  <li><%= link_to gig.name, gig_path(gig) %></li><br/>
<% end %>

<%= month_calendar events: @gigs do |date, gigs| %>
  <%= date.day %>
  <% gigs.each do |gig| %>
    <div>
      <%= gig.name %><br/>
      <%= date.strftime("%l:%M %p") %>
    </div>
  <% end %>
<% end %>
