<div class="col">
  <h1 class="text-center">Upcoming Shows</h1>
</div>

<div class="index-data">
<div class="band-create-link">
  <% if can? :create, @gig %>
    <h4><%= link_to 'Create a New Gig', "/gigs/new" %></h4>
    <% end %>
</div>
</div>

<hr class="black-line"/>

<div class="all-bands">
<% @gigs.each do |gig| %>
  <h2 class="gig-date"> <%= gig.date.strftime("%A, %d %b, %l:%M %p") %></h2>
  <div class="bands">
    <img src=<%= gig.band.image_link %> alt="band-image" class="band-image"/>
    <h2> <%= gig.name %></h2>
    <a href="/gigs/<%="#{gig.id}"%>" class="">Learn More</a>
  </div>
<% end %>
</div>
