<h1><%=@gig.name%></h1>

<%= @gig.date.strftime("%A, %B %e, %Y") %><br/>
<%= @gig.date.strftime("%l:%M %p") %><br/>
<br/>
<h2>Venue</h2>
<%= link_to @gig.venue.name, venue_path(@gig.venue) %><br/>
<br/>
<h2>Band</h2>
<%= link_to @gig.band.name, band_path(@gig.band) %><br/>
<br/>

<% if can? :update, @gig %>
  <h4>Actions</h4>
  <%= link_to 'Edit Gig', edit_gig_path(@gig) %>
<% end %>
