<!DOCTYPE html>
<html>
  <head>
    <title>Gigger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Gigger</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bands">Bands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/venues">Venues</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gigs">Shows</a>
          </li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="nav-item">Logged in as: <%= link_to "#{current_user.name}", "/users/#{current_user.id}" %></li>
          <li><%= link_to "Logout", session_path, method: "delete" %></li>
        <% end %>
      </ul>
    </nav>


    <div class="container">

    <% if flash[:denied] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:denied] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-warning" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

      <%= yield %>
    </div>
  </body>
</html>
